<h1>New Vehicle</h1>
<p>
    {{ vehicle | json }}
</p>
<form #f="ngForm" (ngSubmit)="submit()" novalidate>
    <div class="form-group">
        <label for="make">Make</label>
        <select id="make" class="form-control" (change)="onMakeChange()" [(ngModel)]="vehicle.makeId" name="makeId" required #make="ngModel">
            <option value=""></option>
            <option *ngFor="let m of makes" value="{{m.id}}">{{m.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="make.touched && !make.valid">Please specify the make.</div>
    </div>
    <div class="form-group">
        <label for="model">Model</label>
        <select id="model" class="form-control" [(ngModel)]="vehicle.modelId" name="modelId" required #model="ngModel">
            <option value=""></option>
            <option *ngFor="let m of models" value="{{ m.id }}">{{ m.name}}</option>
        </select>
        <div class="alert alert-danger" *ngIf="model.touched && !model.valid">Please specify the model.</div>
    </div>
    <p>Is this vehicle registered?</p>
    <label for="registered" class="radio-inline">
        <input type="radio" name="isRegistered" id="registered" [value]="true" [(ngModel)]="vehicle.isRegistered" />Yes
    </label>
    <label for="notRegistered" class="radio-inline">
        <input type="radio" name="isRegistered" id="notRegistered" [value]="false" [(ngModel)]="vehicle.isRegistered" />No
    </label>
    <h2>Features</h2>
    <div *ngFor="let f of features" class="checkbox">
        <label for="feature{{f.id}}">
            <input type="checkbox" id="feature{{f.id}}" (change)="onFeatureToggle(f.id, $event)" [checked]="vehicle.features.includes(f.id)">{{f.name}}
        </label>
    </div>
    <h2>Contact</h2>
    <div class="form-group">
        <label for="contactName">Name</label>
        <input type="text" value="contactName" class="form-control" [(ngModel)]="vehicle.contact.name" name="contactName" required #name="ngModel" />
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify the name.</div>
    </div>
    <div class="form-group">
        <label for="contactPhone">Phone</label>
        <input type="text" value="contactPhone" class="form-control" [(ngModel)]="vehicle.contact.phone" name="contactPhone" required #phone="ngModel" />
        <div class="alert alert-danger" *ngIf="phone.touched && !phone.valid">Please specify the phone number.</div>
    </div>
    <div class="form-group">
        <label for="contactEmail">Email</label>
        <input type="text" value="contactEmail" class="form-control" [(ngModel)]="vehicle.contact.email" name="contactEmail" />
    </div>
    <button class="btn btn-primary" [disabled]="!f.valid">Save</button>
    <button *ngIf="vehicle.id" class="btn btn-danger" type="button" (click)="delete()">Delete</button>
</form>
